@model Futbolizando_Fútbol_Blog.Models.LoginViewModel

@{
    ViewBag.Title = "Iniciar sesión";
    Layout = "~/Views/Shared/_ClearLayout.cshtml";
}

<div class="nav-jumbotron modal-login">
    <div id="formLogin">
        <div class="loginForm">
            @Html.AntiForgeryToken()
            <form class="formLoginAdmin" role="form">
                <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title font-weight-bold">Ingresar como administrador</h5>
                                <a href="@Url.Action("Index", "Home")" class="close">
                                    <span aria-hidden="true">&times;</span>
                                </a>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <div class="col-xl-12">
                                        @Html.TextBoxFor(m => m.Username, new { @class = "field form-control input-transition border-left-width-focus-50 dark-red-color-border-focus dark-red-box-shadow", @type = "text", placeholder = "Usuario", required = "required", id = "Username" })
                                        <span class="glyphicon glyphicon-user glyphicon-user-form position-absolute glyphicon-transition"></span>
                                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger py-3" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xl-12">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "field form-control input-transition border-left-width-focus-50 dark-red-color-border-focus dark-red-box-shadow", @type = "email", placeholder = "Correo electrónico", required = "required", id = "Email" })
                                        <span class="glyphicon glyphicon-envelope glyphicon-envelope-form position-absolute glyphicon-transition"></span>
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger py-3" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xl-12">
                                        @Html.PasswordFor(m => m.Password, new { @id = "passInput", @class = "field form-control input-transition border-left-width-focus-50 dark-red-color-border-focus dark-red-box-shadow", @type = "password", placeholder = "Contraseña", required = "required" })
                                        <span class="glyphicon glyphicon-eye-close glyphicon-eye-close-form position-absolute glyphicon-transition"></span>
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger py-3" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xl-12">
                                        @Html.PasswordFor(m => m.RepeatPassword, new { @id = "repeatpassInput", @class = "field form-control input-transition border-left-width-focus-50 dark-red-color-border-focus dark-red-box-shadow", @type = "password", placeholder = "Repetir contraseña", required = "required" })
                                        <span class="glyphicon glyphicon-eye-close glyphicon-eye-close-form position-absolute glyphicon-transition"></span>
                                        @Html.ValidationMessageFor(m => m.RepeatPassword, "", new { @class = "text-danger py-3" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xl-12">
                                        <text id="errors" class="text-danger py-3"></text>
                                    </div>
                                </div>
                                <div id="forgotPassword" class="form-group text-right pb-3">
                                    <div class="col-xl-12">
                                        @Html.ActionLink("¿Olvidaste la contraseña?", "ForgotPassword", null, new { @class = "text-decoration-none dark-red-color forgot-Pass" })
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer mt-2">
                                <button tabindex="5" class="btn-block cursor-pointer" type="submit">
                                    <div class="icons">
                                    </div>
                                    <text class="textButton font-weight-bold">Iniciar</text>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Login {

    <script type="text/javascript">

        // Show modal login
        $("#login").modal("show");

        var accountDto = {};
        var workingLogin = false;

        // Load record Note
        function loadAccount() {
            accountDto.UserName = $('#Username').val();
            accountDto.Email = $('#Email').val();
            accountDto.Password = $('#passInput').val();
            accountDto.RepeatPassword = $('#repeatpassInput').val();
            accountDto.ProviderPassword = "login";
            var textErrors = document.getElementById("errors");
            textErrors.innerText = "";
        }

        $('.loginForm').on("submit", function (e) {
            e.preventDefault();
            if (workingLogin) return;
            workingLogin = true;
            loadAccount();
            if (accountDto.UserName !== "" && accountDto.Email !== "" && accountDto.Password !== "" && accountDto.RepeatPassword !== "") {
                var buttonLogin = this;
                var spinnerContain = '<div class="text-center spinnerDiv"><div class="spin" role="status"></div></div>';
                var closeContain = '<div class="text-center closeDiv" style="margin-top:-55px!important"><div class="closeLogin">&times;</div></div>';
                var okContaint = '<div class="text-center okDiv" style="margin-top:-55px!important"><span class="glyphicon glyphicon-ok glyphicon-okForm"></span></div>';
                var okProfile = '<div class="text-center okDiv" style="margin-top:-55px!important"><span class="glyphicon glyphicon-user glyphicon-user-login"></span></div>';
                var stateLogin = document.getElementsByClassName("textButton")[0];
                var icons = document.getElementsByClassName("icons")[0];
                $(buttonLogin).addClass('loadingLogin');
                $(stateLogin).html('Verificando datos');
                $(icons).append(spinnerContain);
                var spin = document.getElementsByClassName("spin")[0];
                $(spin).addClass('spinner-grow spinner-grow-lg mb-4');
                var spinner = document.getElementsByClassName("spinnerDiv")[0];
                $.ajax({
                    url: "/api/accounts/accessasync",
                    method: "POST",
                    data: JSON.stringify(accountDto),
                    contentType: "application/json; charset=utf-8",
                    success: function (resultLog) {
                        $(spinner).remove();
                        $(buttonLogin).addClass('okLogin');
                        $(icons).append(okContaint);
                        var okDiv = document.getElementsByClassName("okDiv")[0];
                        $(stateLogin).html('Bienvenido!');
                        setTimeout(
                            function () {
                                okDiv.remove();
                                $(stateLogin).html('Cargando perfil');
                                $(icons).append(okProfile);
                                workingLogin = false;
                                setTimeout(
                                    function () {
                                        $("#login").modal('hide');
                                        $(buttonLogin).removeClass('okLogin');
                                        $(buttonLogin).removeClass('loadingLogin');
                                        $(stateLogin).html('Iniciar sesión');
                                        window.location.href = '@Url.Action("Index", "Manage")';
                                    }, 4000);
                            }, 4000);
                    },
                    error: function (resultLog) {
                        setTimeout(function () {
                            workingLogin = false;
                            $(stateLogin).removeClass('mt-2');
                            $(stateLogin).html('Ocurrió un error');
                            $(spinner).remove();
                            $(icons).append(closeContain);
                            var closeDiv = document.getElementsByClassName("closeDiv")[0];
                            var errorText = resultLog.responseText.slice(1, resultLog.responseText.length - 1);
                            if (errorText.includes("Lockout")) {
                                window.location.href = '@Url.Action("Lockout", "Account")';
                            }
                            else {
                                setTimeout(function () {
                                    $(closeDiv).remove();
                                    $(buttonLogin).removeClass('loadingLogin');
                                    $(stateLogin).html('Iniciar sesión');
                                    var textErrors = document.getElementById("errors");
                                    textErrors.innerText = errorText;
                                }, 4000);
                            }
                        }, 4000);
                    }
                });
            }
        });

    </script>

}